body {
  background-color: #f0f0f0;
  color: darken(#f0f0f0, 30%);
}

.sidebar-toggle {
  position: relative;
  z-index: 1;
  border: 3px solid #140505;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 18.8em;
  margin-top: 1em;
  background-color: #f0f0f0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .5s;
  
  &.is-closed {
    transform: translateX(.3em) rotate(0deg);  
  }
  
  .icon {
    font-size: 2.5rem;
    color: #140505;
  }
}

.sidebar {
  width: 15em;
  height: 100vh;
  background-color: #2e1919;
  transition: .7s;
  
  &.is-closed {
    transform: translateX(-16em);
  }
}